<!--<div id="filler"></div>-->

<div id="container">

    <%- include post.ejs %>
</div>
<!--
<div id="container">
    <div class="photo-box">
        <div class="box-pic">
            <img src="images/7157480.jpg">
            <span class="cnt-badge">10</span>
        </div>
        <hr>
        <div class="box-content">
            <span>人生若只如初见</span>
            <span class="float-right color-gray">2016-10-21</span>
        </div>
    </div>

    <div class="photo-box">
        <div class="box-pic">
            <img src="images/8146600.jpg">
            <span class="cnt-badge">6</span>
        </div>
        <hr>
        <div class="box-content">
            <span>夏の恋人</span>
            <span class="float-right color-gray">2016-10-21</span>
        </div>
    </div>

    <div class="photo-box">
        <div class="box-pic">
            <img src="images/21969938.jpg">
            <span class="cnt-badge">9</span>
        </div>
        <hr>
        <div class="box-content">
            <span>安徽宏村</span>
            <span class="float-right color-gray">2016-10-21</span>
        </div>
    </div>
</div>
-->