<div id="searchBtn"><span class="glyphicon glyphicon-search"> </span></div>
<div id="toTopBtn"><span class="glyphicon glyphicon-chevron-up"> </span></div>
<div id="writeBtn"><span class="glyphicon glyphicon-pencil"> </span></div>